@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "foundation/foundation-global";
@import "foundation/components/buttons";
@import "foundation/components/type";

body {
  margin-top: 40px;
  margin-bottom: 60px;
}

img {
  max-width: 100%;
  border: 0;
}

#main {
  @include outer-container;
}

header {
  @include span-columns(12);
}

section { 
    @include span-columns(8);
    @include shift(2);
}

footer {
  @include span-columns(12);
  margin-top: 60px;
  text-align: center;
}

input[type=number]{
  margin-left: 1em;
  width: 2.5em;
  text-align: center;
}

input[type=submit]{
  @include button($padding:$button-lrg, $radius:true, $full-width:true);
}
