<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Justin Bieber Ipsum | Lorem Ipsum Generator | Place Holder Text </title>
    <meta name="description" content="A Lorem Ipsum generator with some of Justin Biebers douchiest qutoes and songs lyrics.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <div id="container">
      <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <header>
        <a href="/"><img src="img/jb_top.png"></a>
      </header>
      <hr>
      <div id="main">

        <%= yield %>
        <section>
          <article>
            <h3>Oh baby how many paragraphs do you need?
            <input type="number" name="paragraphs" min="1" max="10" form="paragraphs"></h3>
          </article>
          <article>
            <form action="/swag" method="post" id="paragraphs">
              <input class="button large expand radius" type="submit" value="Submit">
            </form>
          </article>
        </section>

      </div>
      <footer>
        &copy; <a href="http://www.jeffreyhorn.com">Jeffrey Horn</a>
      </footer>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-38998708-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
